.browser-btn {
    background-image: url('../img/icon.svg');
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--titlebar-btn-bg-c);

    width: 34px;
    height: 34px;

    border: none;
    border-radius: 10px;

    transition: all 0.3s;
}

.browser-btn:hover {
    background-color: var(--titlebar-btn-bg-hover-c);
}

.tabs-list {
    width: calc(100% - (42px + 126px));
}

.tab-btn {
    font-size: 14px;

    background-color: var(--titlebar-btn-bg-c);

    min-width: 100px;
    padding: 7px 10px;

    border: none;
    border-radius: 10px;

    transition: all 0.3s;
}

.tab-btn:hover {
    background-color: var(--titlebar-btn-bg-hover-c);
}

.add-tab-btn {
    font-size: 20px;

    background-color: var(--titlebar-btn-bg-c);

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 20px;

    transition: all 0.3s;
}

.add-tab-btn:hover {
    background-color: var(--titlebar-btn-bg-hover-c);
}

.bookmark-btn {
    font-size: 14px;

    background-color: white;

    padding: 7px 10px;

    border: none;
    border-radius: 20px;
}

.window-ctrl-btns {
    overflow: hidden;
    gap: 0;
}

.window-ctrl-btns button {
    border: none;

    transition: all 0.2s;
}

.window-ctrl-btns.windows button {
    font-size: 10px;

    background-color: transparent;

    width: 42px;
    height: 42px;
}

.window-ctrl-btns.windows button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}