:root {
    --titlebar-bg-c: rgb(243, 243, 243);
    --titlebar-bg-hover-c: rgb(228, 228, 228);
    --titlebar-btn-bg-c: white;
    --titlebar-btn-bg-hover-c: rgb(220, 220, 220);


    --nav-btn-bg-hover-c: rgb(243, 243, 243);

    --urlinput-bg-c: rgb(243, 243, 243);
    --urlinput-outl-c: rgb(55, 55, 55);
    

    --settings-bg-c: white;
    --settings-shadow-c: rgba(59, 65, 75, 0.297);
    --settings-btn-bg-hover-c: rgb(243, 243, 243);
    --settings-hr-c: rgb(153, 153, 153);

    --menu-bg-c: white;
    --menu-shadow-c: rgba(59, 65, 75, 0.297);
    --menu-btn-hover-c: white;
    --menu-btn-hover-bg-c: #0b57d0;
    --menu-hr-c: rgb(228, 228, 228);
}